$background-navbar: #17252A;
$background-navbar-transparente:(42, 54, 59,.1);
$font-color-navbar: #FECEAB ;
$logo-font-color: #E84A5F;
$hover-font-color-navbar: #99B898;
$background-button-navbar: #d6482f;
$btn-get-started-background: #17252A;
$modal-background-background-color:#f36767;
$title-divider: #99B898; 


body{ 
  margin: 0;
  padding:0;

}
.container-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.title-center{
    text-align: center;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
    display: table;
    width: 100%;
    height: 100vh;
    background: url('../imgs/americapicture.jpg') top center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
 
  .encab-description{
    margin: 0 auto;
    text-align: center;
    width: 800px;
    padding: 5px 0;
  }
  
  
  #hero .hero-logo {
    margin: 20px;
  }
  
  #hero .hero-logo img {
    max-width: 100%;
  }
  
  #hero .hero-container {
    background: rgba(0, 0, 0, 0.8);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
  
  #hero h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
    font-size: 45px;
  }
  #hero h2 {
    color: #999;
    margin-bottom: 50px;
  }
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
    
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    
    .encab-description{
      width: 400px;
      p{
        font-size: 1.5vw;
        top: 27vw;
      }
    }
  }
  
 @media (max-width: 768px) {
    #hero h2 {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 30px;
    }
    #hero h2 .rotating {
      display: block;
    }
  }
  
  #hero .rotating > .animated {
    display: inline-block;
  }
  
  #hero .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
  }
  
  #hero .btn-get-started {
    background: $btn-get-started-background;
    border: 2px solid $btn-get-started-background;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-services {
    border: 2px solid #fff;
    color: #fff;
  }
  
  #hero .btn-services:hover {
    background: $btn-get-started-background;
    border: 2px solid $btn-get-started-background;
  }
  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background:$background-navbar;
    padding: 20px 0;
    height: 90px;
    display: flex;
    justify-content: space-between; 
  }
  
  #header #logo {
    float: left;
  }
  
  #header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header #logo h1 a, #header #logo h1 a:hover {
    color: $font-color-navbar;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
    max-height: 50px;
  }
  
  @media (max-width: 768px) {
    #header {
      height: 80px;
    }
    #header #logo h1 {
      font-size: 26px;
    }
    #header #logo img {
      max-height: 40px;
    }
  }
  
  // .is-sticky #header {
  //   background: rgba(0, 0, 0, 0.85);
  // }
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: $background-navbar;
  font-family: 'Poppins', sans-serif; 
  transition: background-color 1s ease 0s;
  // transition para el cambio de color
    .transparent{
      background-color:$background-navbar-transparente;
      transition: background-color 1s ease 0s;
      position: absolute;

    }
}

#logo{
  display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  color: $logo-font-color;
  align-items: center;
  // text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
  vertical-align: top;
  // width: 50px;
  // height: 50px;
  // margin-right: 20px;
  // margin-top: 15px
  a{
    color: $font-color-navbar
  }
}

.logo-image{
  width: 50px;
  height: 46px;
  overflow: hidden;
  margin-top: -6px;
  margin: 10px 15px 5px 10px;

}

.nav-menu{
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.nav-menu li{
    list-style: none;
}
.nav-menu a{
    color: $font-color-navbar;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.hambicon{
  display: none;
  cursor: pointer;
  
}
.hambicon .fa-bars{
  color:  #CC527A;
}


@media screen and (max-width:1024px){
  .nav-menu{
      width: 70%;
  }

}

@media screen and (max-width: 991px) {
    body{
      min-height: 100%;
      margin: 0;
      overflow-x: hidden;
    }
    nav{
      width: 100%;
      position: absolute;
      top: 0;
    }
    #hero{
      position: relative;
      top: 30px;
    }
    
    .nav-menu{
      
      position: absolute;
      right: 0px;
      height: 92vh;
      // top: 8vh;
      background-color: $background-navbar;
     
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;
      /* justify-content: center; */
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
    .nav-menu li{
      opacity: 0;
    }
    .hambicon{
      display: block;
      
    }


}
.nav-active{
  transform:translateX(0%);
}
/* start of phone styles */
@media screen and (max-width: 479px) {
  body{
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
  }
  nav{
    width: 100%;
    position: absolute;
    top: 0;
  }
  #hero{
    position: relative;
    top: 30px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: relative;
  }
  
  .nav-menu{
    
    position: absolute;
    right: 0px;
    height: 92vh;
    // top: 8vh;
    background-color: $background-navbar;
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    /* justify-content: center; */
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-menu li{
    opacity: 0;
  }
  .hambicon{
    display: block;
    
  }


}



@keyframes navLinkFade{
  from{
  opacity: 0;
  transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }

}



/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 30px 0;

  }
  
  .section-description {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .section-title-divider {
    width: 50px;
    height: 3px;
    background: $title-divider;
    margin: 10px auto;
    margin-bottom: 20px;
  }
  
  /* Get Started Section
--------------------------------*/
#about {
    background: #fff;
    padding: 20px 0;
  
  }
  .container{
    position: unset;
  }
  
.columns-about{
  text-align: justify;
  font-weight: 300;
  font-size: 1.125rem;
  
  -webkit-column-count: 2;
  -moz-column-count: 2;
       column-count: 2;
-webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
}
@media (max-width: 1024px) {
  .columns-about{
    margin-left: 2rem; 
    margin-right: 2rem;
  }
}
  
  @media (max-width: 768px) {
    #about .bd-notification {
      font-size: 1.125rem;
    }


    .columns-about {
      margin-left: .75rem; 
      margin-right: .75rem; 
      margin-top: none;
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      
    }
      
  }
  
  #about .about-content {
    text-align: justify;
    font-weight: 300;
    // font-size: 18px;
    font-size: 1.125rem;
  }
  
//   #about .about-title {
//     color: #333;
//     font-weight: 700;
//     font-size: 28px;
//   }
  
//   #about .about-text {
//     line-height: 26px;
//     margin-bottom: 15px;
//   }
  
//   #about .about-text:last-child {
//     margin-bottom: 0;
//   }
  
  /* Services Section
--------------------------------*/
#services {
  background: #fff;
  padding: 20px 0;

}

#services .service-item {
  margin-bottom: 20px;
}

#services .service-icon {
  float: left;
  background: #03C4EB;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #03C4EB;
}

#services .service-icon i {
  color: #fff;
  font-size: 24px;
}

#services .service-item:hover .service-icon {
  background: #fff;
}

#services .service-item:hover .service-icon i {
  color: #03C4EB;
}

#services .service-title {
  text-align: center;
  font-weight: 900;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.125rem;
}


.service-description .radar{
  display: flex;
  .radar-content{
    display: flex;
  
  }
}

#services .service-description {
  display: flex;
  // margin-left: 80px;
  line-height: 24px;
  .img-container{
    float: right;
    display: flex;
    width: 50%;
    height: 50%;
    padding: 0 10px 10px
  }

}
.radar-content{
  .radar-descrip{
    text-align: justify;
    font-weight: 300;
    // font-size: 18px;
    font-size: 1.125rem;
  }
}


.columns-sist {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.radar-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  // background-color: $hover-font-color-navbar;
  // height: 100px;
  padding: 5px;
  margin: 20px 0;
}
.radar-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  // .video-face-descr{
  //   font-size: 10px;
  //   background: #eee;
  //   padding: 5px;
  // }
}
article{
  background:  #FECEAB;
  align-content: center;
  width:560px;
  height:400px;
  padding: 10px;
  iframe{
    width: 100%;
    height: 100%;
    
  }
  figcaption {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-style: italic;
    font-size: 14px;
    orphans: 2;
}
}
.some-page-wrapper {
  margin: 15px;
  
}

.med-column {
  

  margin: 20px 0;
  // height: 100px;
}


  /*--------------------------------------------------------------
# Inside modal
--------------------------------------------------------------*/

.wrap-collabsible {
  // margin-bottom: 1.2rem 0;
  width: 90%;
  margin: 5px;
  
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  // font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #17252A;
  background: #2B7A78;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #3AAFA9;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(23,37,42, .2);
  border-bottom: 1px solid rgba(23,37,42, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

// ------------------DESARROLLOS-----------
// ----------------------------------------
#desarrollos {
  background: #fff;
  padding: 20px 0;

}

h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
}

.column-des {
  display: flex;
  flex-direction: column;
  align-items: center;
  // flex-basis: 100%;
  flex: 1;
  background-color: $hover-font-color-navbar;
  // padding: 0px;
  // margin: 0px;
  // box-sizing: border-box;
  // height: 100px;
}
.carousel-container{
  display: flex;
  width: 250px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  border: 5px solid black;
}

.carousel-slide{
  
  display: flex;
  width: 400px;
  // margin:10px;
//   height: 450px;
  // .desaImag{
  //   height: 450px;
  //   width: 400px;}
  
 }


#prevBtn{
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 5%;
  font-size: 30px;
  /* color: white; */
  // opacity: 0.5;
  /* cursor: pointer; */
  border:none;
  background: none;
}
#nextBtn{
position: absolute;
top: 50%;
z-index: 1;
right: 5%;
font-size: 30px;
/* color: white; */
// opacity: 0.5;
/* cursor: pointer; */
border:none;
background: none;
}

// ENLACES

.column-enl-one{
  display: flex;
  
  align-items: center;
  // flex-basis: 100%;
  flex: 1;
  background-color: $hover-font-color-navbar;

}
.container-enlac {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.column-enl-two{
  display: flex;
  align-items: center;
  // flex-basis: 100%;
  flex: 1;
  background-color: $hover-font-color-navbar;

}


/*--------------------------------------------------------------
# Contact form
--------------------------------------------------------------*/
.container-contact{
  background: url('../imgs/americapicture.jpg') top center;
  background-size: cover;
  opacity: 0.8;
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    padding: 20px;
}

input[type=text], select, textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  color:black;
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.col-25 {
  display: flex;
  justify-content: center;
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.enviar-btn{
  display: flex;
  justify-content: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:479px){
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
// }
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
}

.back-to-top{
  display: none;
}
#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}