html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.container-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-center {
  text-align: center;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url("../imgs/americapicture.jpg") top center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.encab-description {
  margin: 0 auto;
  text-align: center;
  width: 800px;
  padding: 5px 0;
  color: #99B898;
}

#hero .hero-logo {
  margin: 20px;
}

#hero .hero-logo img {
  max-width: 100%;
}

#hero .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
  font-size: 45px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .encab-description {
    width: 350px;
  }
  .encab-description p {
    font-size: 2.5vw;
    top: 27vw;
  }
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  #hero h2 .rotating {
    display: block;
  }
}
#hero .rotating > .animated {
  display: inline-block;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: #17252A;
  border: 2px solid #17252A;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services:hover {
  background: #17252A;
  border: 2px solid #17252A;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #17252A;
  padding: 20px 0;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #FECEAB;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }

  #header #logo h1 {
    font-size: 26px;
  }

  #header #logo img {
    max-height: 40px;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #17252A;
  font-family: "Poppins", sans-serif;
  transition: background-color 1s ease 0s;
}
nav .transparent {
  background-color: 42, 54, 59, 0.1;
  transition: background-color 1s ease 0s;
  position: absolute;
}

#logo {
  display: flex;
  color: #E84A5F;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
  vertical-align: top;
}
#logo a {
  color: #FECEAB;
}

.logo-image {
  width: 50px;
  height: 46px;
  overflow: hidden;
  margin-top: -6px;
  margin: 10px 15px 5px 10px;
}

.nav-menu {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  color: #FECEAB;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.hambicon {
  display: none;
  cursor: pointer;
}

.hambicon .fa-bars {
  color: #CC527A;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    width: 70%;
  }
}
@media screen and (max-width: 991px) {
  html, body {
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  nav {
    width: 100%;
    position: absolute;
    top: 0;
  }

  #hero {
    position: relative;
    top: 30px;
  }

  .nav-menu {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #17252A;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* justify-content: center; */
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-menu li {
    opacity: 0;
  }

  .hambicon {
    display: block;
    margin-right: 20px;
  }
}
/* start of phone styles */
@media screen and (max-width: 479px) {
  body, html {
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  #hero {
    position: relative;
    top: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .nav-menu {
    position: absolute;
    right: 0px;
    height: 92vh;
    background-color: #17252A;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* justify-content: center; */
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-menu li {
    opacity: 0;
  }

  .hambicon {
    display: block;
    margin-right: 20px;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin: 30px 0;
  padding-top: 20px;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #99B898;
  margin: 10px auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .section-title {
    margin: 15px 0px;
  }

  .section-title-divider {
    margin-bottom: 10px;
  }
}
/* Get Started Section
--------------------------------*/
#about {
  background: #fff;
  padding: 20px 0;
}

.container {
  position: unset;
}

.columns-about {
  text-align: justify;
  font-weight: 300;
  font-size: 1.125rem;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-width: 200px;
  -moz-column-width: 500px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
}
.columns-about .more-read {
  display: none;
}

@media (max-width: 1024px) {
  .columns-about {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 768px) {
  #about .row {
    justify-content: center;
  }

  .columns-about {
    margin-right: 0.75rem;
    margin-top: none;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .columns-about .more-read {
    display: block;
    text-decoration: none;
  }
  .columns-about #more {
    display: none;
  }
}
#about .about-content {
  text-align: justify;
  font-weight: 300;
  font-size: 1.125rem;
}

/* Services Section
--------------------------------*/
#services {
  background: #fff;
  padding: 20px 0;
}

#services .service-item {
  margin-bottom: 20px;
}

#services .service-icon {
  float: left;
  background: #03C4EB;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #03C4EB;
}

#services .service-icon i {
  color: #fff;
  font-size: 24px;
}

#services .service-item:hover .service-icon {
  background: #fff;
}

#services .service-item:hover .service-icon i {
  color: #03C4EB;
}

#services .service-title {
  text-align: center;
  font-weight: 900;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.service-description .radar {
  display: flex;
}
.service-description .radar .radar-content {
  display: flex;
}

#services .service-description {
  display: flex;
  line-height: 24px;
}
#services .service-description .img-container {
  float: right;
  display: flex;
  width: 50%;
  height: 50%;
  padding: 0 10px 10px;
}

.radar-content .radar-descrip {
  text-align: justify;
  font-weight: 300;
  font-size: 1.2rem;
}

.columns-sist {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.radar-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 5px;
  margin: 20px 0;
}

.radar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .row {
    justify-content: center;
  }

  .radar-column {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: none;
  }
  .radar-column .service-title {
    margin-top: 0;
    margin-left: 0.9rem;
  }
  .radar-column .radar-content {
    margin-left: 2rem;
    width: 100%;
  }
  .radar-column .radar-content .radar-descrip {
    font-weight: 300;
    font-size: 1.125rem;
    width: 100%;
  }

  #services .service-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services .service-description .medic-nub {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .radar-column {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: none;
    width: 25%;
  }
  .radar-column .radar-content article {
    width: 100%;
    height: 350px;
    font-size: 0.99rem;
    margin-left: 0.5rem;
    margin-right: 0.75rem;
  }
}
article {
  background: #FECEAB;
  align-content: center;
  width: 560px;
  height: 400px;
  padding: 10px;
}
article iframe {
  width: 100%;
  height: 100%;
}

.some-page-wrapper {
  margin: 15px;
}

.enlaces-content {
  background-color: #3AAFA9;
}

.medic-nub {
  display: flex;
}

.radar-column .sat-descrip {
  text-align: justify;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.recep-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 800px;
  }

  .wrap-collabsible {
    width: 100%;
    margin: 5px;
  }
}
@media (max-width: 768px) {
  .recepcion .service-title {
    margin-top: 0;
    margin-left: 0.9rem;
  }
  .recepcion .sat-descrip {
    font-size: 1.125rem;
    margin-left: 1.2rem;
    width: 100%;
  }
  .recepcion .recep-content {
    margin-left: 1.5rem;
  }
  .recepcion .recep-content .wrap-collabsible {
    width: 100%;
    margin: 5px;
  }
}
/* ///////////////////////////////////////
informacion
/////////////////////////////////////// */
@media (max-width: 768px) {
  .recepcion .service-title {
    margin-top: 0;
    margin-left: 0.9rem;
  }

  .radar-column .info-content {
    width: 100%;
    margin-left: 0.9rem;
  }
}
/*--------------------------------------------------------------
# ACORDEON
--------------------------------------------------------------*/
.wrap-collabsible {
  width: 100%;
  margin: 5px;
}

input[type=checkbox] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #17252A;
  background: #2B7A78;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #3AAFA9;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 900px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(23, 37, 42, 0.2);
  border-bottom: 1px solid rgba(23, 37, 42, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.5rem 1rem;
}

.container-erth {
  display: box;
  position: relative;
  width: 100%;
}

.enlace-tw {
  display: flex;
  justify-content: center;
}

#desarrollos {
  background: #fff;
  padding: 20px 0;
}

h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
  margin-bottom: none;
}

.column-des {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 5px;
  margin: 20px 0;
}
.column-des .desa-description {
  text-align: justify;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 0 65px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: inherit;
}
.column-des .desa-descrip {
  font-weight: 300;
  font-size: 1.2rem;
  margin: 0 65px;
  margin-bottom: 5px;
  text-align: -moz-center;
}

.desa-content {
  display: flex;
}

.desas-sist {
  text-align: -webkit-center;
  text-align: -moz-center;
}

.foot-carousel {
  color: black;
  font-style: italic;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .column-des .desas-sist {
    width: 800px;
    margin-left: 1.5rem;
  }
  .column-des .desas-sist .desa-descrip {
    font-size: 1.125rem;
    width: 350px;
    font-size: 1.125rem;
    text-align: center;
  }
  .column-des .desas-sist .foot-carousel {
    text-align: center;
    width: 350px;
  }
  .column-des .desa-description .info-desa {
    width: 35%;
    margin-left: 34%;
  }
}
.collapsible-content .desacontent {
  background: rgba(23, 37, 42, 0.2);
  border-bottom: 1px solid rgba(23, 37, 42, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0.1rem 1rem;
}
.collapsible-content .desacontent .descrip-imags {
  font-size: 14px;
  margin: 5px 0;
}

.column-enl-one {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 10px 0;
}

.container-enlac {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.column-enl-two {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 10px 0;
}

/*--------------------------------------------------------------
# Contact form
--------------------------------------------------------------*/
.container-contact {
  background: url("../imgs/americapicture.jpg") top center;
  background-size: cover;
  opacity: 0.8;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  color: #367355;
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  display: flex;
  justify-content: center;
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.enviar-btn {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 768px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    text-align: -moz-center;
  }

  .enviar-btn {
    width: 30%;
    margin-right: 15px;
  }
}
@media screen and (max-width: 479px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  color: #fff;
}

.back-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 20px;
  background-color: #17252A;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 20px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

.container-footer {
  display: flex;
  justify-content: center;
}
.container-footer .footer-content {
  margin: 10px 10px;
}

@-moz-document url-prefix() {
  @media (max-width: 768px) {
    .contact-form {
      margin-left: 20px;
    }

    .enviar-btn {
      margin-left: 90px;
    }

    .radar-column .info-content {
      width: 50%;
      margin-left: 175px;
    }
  }
}

/*# sourceMappingURL=style.css.map */
